* {
    padding: 0;
    margin: 0;
}

.logo {
    background-color: white;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 2%;
}
h1 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    left: 10%;
    font-weight: lighter;
    
}
@keyframes rot {
    from {
        transform:  rotate(0deg)
                    translate(-50px)
                    rotate(0deg);
    }
    to {
        transform:  rotate(360deg)
                    translate(-50px) 
                    rotate(-360deg);
    }
}

.traceCircle {
    position: absolute;
    top: -36%;
	left: 36%;
    font-size: 100px;
    animation: rot 5s infinite linear;
    color: #EB6D6D;
}

.class-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.displayChooser {
    padding: 20px;
    background-color: black;
    color: #EB6D6D;
    border-radius: 8px;
}

.dropdownClasses200 {
    display: none;
}

.dropdownClasses300 {
    display: none;
}

.dropdownClasses400 {
    display: none;
}

.classes{
    padding: 20px;
    background-color: #EB6D6D;
    border-radius: 8px;
}
