* {
  padding: 0;
  margin: 0;
}

.logo {
  background-color: white;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 2%;
}
h1 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  left: 10%;
  font-weight: lighter;
}
@keyframes rot {
  from {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}

.traceCircle {
  position: absolute;
  top: -36%;
  left: 36%;
  font-size: 100px;
  animation: rot 5s infinite linear;
  color: #eb6d6d;
}

.class-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.displayChooser {
  padding: 20px;
  background-color: black;
  color: #eb6d6d;
  border-radius: 8px;
}

.dropdownClasses200 {
  display: none;
}

.dropdownClasses300 {
  display: none;
}

.dropdownClasses400 {
  display: none;
}

.dropdownClasses500 {
  display: none;
}

.dropdownClasses600 {
  display: none;
}

.dropdownClasses700 {
  display: none;
}

.classes {
  padding: 20px;
  background-color: #eb6d6d;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 100px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
